table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 5px;
}

th{
    font-weight: bold;
}

td{
    background-color: #eee;
}

td a{
	text-decoration: none;
	font-weight: bold;
}

h1{
	text-align:center;
}

.img-thumbnail:hover{
	opacity:0.5;
}

.navbar{
	background-color:#38767c;

}

.row{
	height:140px;
	overflow:hidden;
	padding:20px;
}

.centered{
	float:none;
	margin: 0 auto;
}

.navbar-custom{
	background-color:#204043;
	color: #e3564d;
}

.items-to-hide{
	visibility:hidden;
}

li>a{
	background-color:#38767c;
}
h1, h2, h3, h4 {
  color: #1aade9;
}


div#datetime {
  font-size: 80%;
  text-align: right;
}
