table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 5px;
}

th{
    font-weight: bold;
}

td{
    background-color: #eee;
}

nav ul{
    margin: 0;
    overflow: hidden;
    }

nav ul li{
    float: left;
    display: inline-block;
    padding: 1% 0 1% 0;
}

nav ul li a{
    text-align: center;
    color: black;
    background-color: #5BBAE0;
    text-decoration: none;
    padding: 5px;
}

nav ul li a:hover{
    background-color: #106282;
}

nav ul li a:active{
    background-color: #666;
}

body {
  background-color: white;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  margin: 2ex 2em;
}

h1, h2, h3, h4 {
  color: #E9601A;
}

a {
  color: #6F6F6F;
  text-decoration: underline;
}

div#datetime {
  font-size: 80%;
  text-align: right;
}
