{% extends "template.html" %}
{% block title %}Activities{% endblock %}
{% block content %}
	<div class="page-header">
    	<h1>List of Activities</h1>
    </div>
    <div class="container">
    <form action="{{url_for('activities_delete')}}" method="post">
    	<div class="col-sm-2"></div>
    	<div class="col-sm-2">Name</div>
    	<div class="col-sm-2">Activity Type</div>
    	<br><br>
    	{% for activity in activities %}
    	<div class="row">
    		<div class="col-sm-2"><a href="{{url_for('activities_details', id = activity[0]  ) }}"><img src="{{activity[3]}}" class="img-thumbnail" alt="Photo"></a></div>
    		<div class="col-sm-2">{{ activity[1] }}</div>
    		<div class="col-sm-2">{{ activity[4] }}</div>
    		<input type="radio" name="select" value="{{ activity[0] }}" class="items-to-hide">
    	</div>
    	{% endfor %}
    <input type="submit" value="Remove selected" class="items-to-hide">
	</form>
	</div>

	<div class="container items-to-hide">
	<h3>Insert</h3>
	<form action="{{url_for('activities_insert')}}" method="post">
    	Name:<br>
    	<input type="text" name="activities_name">
    	<br>
    	Photo:<br>
    	<input type="url" name="activities_photo">
    	<br>
    	Type:<br>
    	<select name="activities_type">
    		<option value="Cultural">Cultural</option>
    		<option value="Eat & Drink">Eat & Drink</option>
    		<option value="Sport">Sport</option>
    		<option value="Accommodation">Accommodation</option>
    		<option value="Travel">Travel</option>
    	</select>
    	<br>
    	Info:<br>
    	<textarea rows="5" cols="50" name="activities_info"></textarea>
		<br>
    	<input type="submit" value="Insert to database">
	</form>

	<h3>Delete all</h3>
    <form action="{{url_for('activities_delete_all')}}">
    	<input type="submit" value="Delete all">
	</form>
	</div>
{% endblock %}