{% extends "template.html" %}
{% block content %}
	<h2>Update {{ caferest[0][1] }}</h2>
	<form action="{{url_for('update_caferest')}}" method="post">
	<table>
		<th>Attribute</th>
		<th>Current Value</th>
		<th>New Value</th>
		<tr>
			<td>Name</td>
			<td>{{ caferest[0][1] }}</td>
			<td><input type="text" name="update_caferest_name"></td>
		</tr>
		<tr>
			<td>City</td>
			<td>{{ caferest[0][5] }}</td>
			<td> <select name="update_caferest_city">
    				{% for city in cities %}
    					<option value="{{ city[0] }}">{{ city[1] }}</option>
    				{% endfor %}
    			 </select>
    		</td>
		</tr>
		<tr>
			<td>Cuisine</td>
			<td>{{ caferest[0][3] }}</td>
			<td><input type="text" name="update_caferest_cuisine"></td>
		</tr>
		<tr>
			<td>Score</td>
			<td>{{ caferest[0][4] }}</td>
			<td><input type="text" name="update_caferest_score"></td>
		</tr>
	</table>
	<br>
	<input type="hidden" name="caferest_index" value="{{ caferest[0][0] }}">
	<td><input type="submit" value="Update"></td>
   	</form>
{% endblock %}
