{% extends "template.html" %}
{% block content %}
    <h1>Places of art & culture</h1>
    <form action="{{url_for('culture_delete')}}" method="post">
    <table>
    	<th>Select</th>
    	<th>Name</th>
    	<th>Score</th>
    	{% for place in culture %}
    	<tr>
    		<td><input type="radio" name="select" value="{{ place[0] }}"></td>
    		<td><a href="{{url_for('culture_details', id = place[0]  ) }}">{{ place[1] }}</a></td>
    		<td>{{ place[2] }}</td>
    	</tr>
    	{% endfor %}
    </table>
    <input type="submit" value="Remove selected">
    </form>
    <h2>Operations on the table</h2>

    	<h3>Insert</h3>
    	<form action="{{ url_for('culture_insert') }}" method="post">
    		Name:<br>
    		<input type="text" name="cultural_place_name">
    		<br>
    		Score:<br>
    		<input type="text" name="cultural_place_score">
    		<br><br>
    		<textarea rows="5" cols="50" name="cultural_place_info"></textarea>
			<br>
    		<input type="submit" value="Insert to database">
    	</form>

    	<h3>Delete</h3>
    	<form action="{{url_for('culture_delete_all')}}">
    		<input type="submit" value="Delete all">
    	</form>

    	<h3>Update</h3>
    	<p>to update go to page of entry by clicking its name</p>
{% endblock %}
