{% extends "template.html" %}
{% block title %}Culture{% endblock %}
{% block content %}
	<div class="page-header">
    	<h1>Places of art & culture</h1>
    </div>
    <div class="container">
    <form action="{{url_for('culture_delete')}}" method="post">
    	<div class="col-sm-2"></div>
    	<div class="col-sm-2">Name</div>
    	<div class="col-sm-2"><a href="{{url_for('activities_page')}}">Main activity</a></div>
    	<div class="col-sm-2">Country</div>
    	<div class="col-sm-2">City</div>
    	<div class="col-xs-1">Score</div>
    	<br><br>
    	{% for place in culture %}
    	<div class="row">
    		<div class="col-sm-2"><a href="{{url_for('culture_details', id = place[0]  ) }}"><img src="{{place[5]}}" class="img-thumbnail" alt="Photo"></a></div>
    		<div class="col-sm-2">{{ place[1] }}</div>
    		<div class="col-sm-2"><a href="{{url_for('activities_details', id = place[6])}}">{{ place[7] }}</a></div>
    		<div class="col-sm-2">{{ place[8] }}</div>
    		<div class="col-sm-2">{{ place[9] }}</div>
    		<div class="col-xs-1">{{ place[2] }}</div>
    		<input type="radio" name="select" value="{{ place[0] }}" class="items-to-hide">
    	</div>
    	{% endfor %}
    <br>
    <input type="submit" value="Remove selected" class="items-to-hide">
    </form>
    </div>

    <div class="container items-to-hide">
    <h2>Operations on the table</h2>

    	<h3>Insert</h3>
    	<form action="{{ url_for('culture_insert') }}" method="post">
    		Name:<br>
    		<input type="text" name="cultural_place_name">
    		<br>
    		Score:<br>
    		<input type="number" name="cultural_place_score" min="1" max="10">
    		<br>
    		Votes:<br>
    		<input type="number" name="cultural_place_votes">
    		<br>
    		Photo:<br>
    		<input type="url" name="cultural_place_photo">
    		<br>
    		Activity:<br>
    		<select name="cultural_activity_id">
    		{% for activity in activities %}
    			<option value="{{ activity[0] }}">{{ activity[1] }}</option>
    		{% endfor %}
    		</select>
    		<br>
    		City:<br>
    		<select name="cultural_place_city">
			{% for city in cities %}
				<option value="{{ city[0] }}">{{ city[1] }}</option>
			{% endfor %}
    		</select>
    		<br><br>
    		Info:<br>
    		<textarea rows="5" cols="50" name="cultural_place_info"></textarea>
			<br>
    		<input type="submit" value="Insert to database">
    	</form>

    	<h3>Delete</h3>
    	<form action="{{url_for('culture_delete_all')}}">
    		<input type="submit" value="Delete all">
    	</form>

    	<h3>Update</h3>
    	<p>to update go to page of entry by clicking its name</p>
    </div>
{% endblock %}

