{% extends "template.html" %}
{% block content %}
    <h1>Places of Entertainment</h1>
    <form action="{{ url_for('entertainment_delete') }}" method = "post">
    <table>
    	<th>Select</th>
    	<th>Name</th>
    	<th><a href="{{url_for('places_page')}}">Place</a></th>
    	<th>Score</th>
        {%for place in entertainment %}
    	<tr>
    		<td><input type="radio" name="select" value="{{ place[0] }}"></td>
    		<td><a href="{{url_for('entertainment_place', id = place[0]  ) }}">{{ place[1] }}</a></td>
    		<td><a href="{{url_for('places_details', id = place[6])}}">{{ place[7] }}</a></td>
    		<td>{{ place[2] }}</td>
    	</tr>
        {% endfor %}
    </table>
    <input type="submit" value="Delete Selected Record">
    </form>
    <h2>Operations on the table</h2>
    	<h3>Insert</h3>
    	<form action="{{ url_for('entertainment_insert') }}" method="post">
    		Name:<br>
    		<input type="text" name="entertainment_place_name">
    		<br>
    		Score:<br>
    		<input type="number" name="entertainment_place_score" min="1" max="10">
    		<br>
    		Votes:<br>
    		<input type="number" name="entertainment_place_votes">
    		<br>
    		Photo:<br>
    		<input type="url" name="entertainment_place_photo">
    		<br>
    		Place:<br>
    		<select name="entertainment_place">
    		{% for place in places %}
    			<option value="{{ place[0] }}">{{ place[1] }}</option>
    		{% endfor %}
    		</select>
    		<br>
    		Info:<br>
    		<textarea rows="5" cols="50" name="entertainment_place_info"></textarea>
			<br>
    		<input type="submit" value="Insert">
    	</form>
    	<h3>Delete All</h3>
    	<form action="{{url_for('entertainment_delete_all')}}" >
    		<input type="submit" value="Delete all records">
    	</form>
    	<h3>Update</h3>
    	<p>Click to the Entertainment Place Name</p>
{% endblock %}
