{% extends "template.html" %}
{% block content %}
	<h2>Update {{ festival[0][1] }}</h2>
	<form action="{{url_for('update_festival')}}" method="post">
	<table>
		<th>Attribute</th>
		<th>Current Value</th>
		<th>New Value</th>
		<tr>
			<td>Name</td>
			<td>{{ festival[0][1] }}</td>
			<td><input type="text" name="update_festival_name"></td>
		</tr>
		<tr>
			<td>City</td>
			<td>{{ festival[0][5] }}</td>
			<td> <select name="update_festival_city">
    				{% for city in cities %}
    					<option value="{{ city[0] }}">{{ city[1] }}</option>
    				{% endfor %}
    			 </select>
    		</td>
		</tr>
		<tr>
			<td>Category</td>
			<td>{{ festival[0][3] }}</td>
			<td> <select name="update_festival_category">
    				<option value="Music">Music</option>
    				<option value="Food">Food</option>
    				<option value="Film">Film</option>
    				<option value="Art">Art</option>
    				<option value="Seasonal">Seasonal</option>
    			</select>
    		</td>
		</tr>
		<tr>
			<td>Score</td>
			<td>{{ festival[0][4] }}</td>
			<td><input type="text" name="update_festival_score"></td>
		</tr>
	</table>
	<br>
	<input type="hidden" name="festival_index" value="{{ festival[0][0] }}">
	<td><input type="submit" value="Update"></td>
   	</form>
{% endblock %}