{% extends "template.html" %}
{% block content %}
    <h1>Festivals & Seasonal Events</h1>
    <form action="{{ url_for('delete_festival') }}" method="post">
    <table>
    	<th>Select</th>
    	<th>Name</th>
    	<th><a href="{{ url_for('cities_page') }}">City</a></th>
    	<th>Category</th>
    	<th>Score</th>
        {%for fest in festival %}
    	<tr>
    		<td><input type="checkbox" name="festivals_to_delete"value="{{fest[0]}}" /></td>
    		<td><a href="{{ url_for('festival_update_page', id=fest[0]) }}">{{ fest[1] }}</a></td>
    		<td>{{ fest[5] }}</td>
    		<td>{{ fest[3] }}</td>
    		<td>{{ fest[4] }}</td>
    	</tr>
        {% endfor %}
    </table>
    <br><input type="submit" value="Remove Selected" />
	</form>

	<form action="{{ url_for('delete_all_festival') }}">
	<br><input type="submit" value="Remove All" /><br>
	</form>

    <h3>Add New Festival</h3>
    <form action="{{ url_for('insert_festival') }}" method="post">
    <table>
    	<tr>
    		<td>Name</td>
    		<td>City</td>
    		<td>Category</td>
    		<td>Score</td>
    	</tr>
    	<tr>
    		<td> <input type="text" name="name"> </td>
    		<td> <select name="city">
    				{% for city in cities %}
    					<option value="{{ city[0] }}">{{ city[1] }}</option>
    				{% endfor %}
    			 </select>
    		</td>
    		<td> <select name="category">
    				<option value="Music">Music</option>
    				<option value="Food">Food</option>
    				<option value="Film">Film</option>
    				<option value="Art">Art</option>
    				<option value="Seasonal">Seasonal</option>
    			</select>
    		</td>
    		<td> <input type="text" name="score"> </td>
    	</tr>
    </table>
    <br><td> <input type="submit" value="Add" /></td>
    </form>
    <h4>You can click on the name of a festival to update its values.</h4>
{% endblock %}