{% extends "template.html" %}
{% block title %}Landmark{% endblock %}
{% block content %}

	<div class="page-header">
   		 <h1>Landmarks of Cities</h1>
   	</div>

	<div class="container">
    <form action="{{url_for('landmark_delete')}}" method="post">
    <div class="col-sm-2"></div>
    	<div class="col-sm-2">Name</div>
    	<div class="col-sm-2">City</a></div>
    	<div class="col-xs-1">Score</div>
    	<br><br>

    	{% for landmark in landmark %}
    	<div class="row">
    		<div class="col-sm-2"><a href="{{url_for('landmark_details', id = landmark[0]  ) }}"><img src="{{landmark[6]}}" class="img-thumbnail" alt="Photo"></a></div>
    		<div class="col-sm-2">{{ landmark[1] }}</div>
    		<div class="col-sm-2">{{ landmark[5] }}</div>
    		<div class="col-sm-2">{{ landmark[2] }}</div>
    		<input type="radio" name="select" value="{{ landmark[0] }}" class="items-to-hide">
    		<p id="a"></p>
    	</div>
    	{% endfor %}

    <br>
    <input type="submit" value="Remove selected" class="items-to-hide">
    </form>
    </div>
	<div class="container items-to-hide">
    <h2>Operations on the table</h2>

    	<h3>Insert</h3>
    	<form action="{{ url_for('landmark_insert') }}" method="post">
    		Name:<br>
    		<input type="text" name="landmark_name">
    		<br><br>
    		Score:<br>
    		<input type="text" name="landmark_score">
    		<br><br>
    		City Name:<br>
    		<select name="location_id">
    		{% for location in locations %}
    			<option value="{{ location[0] }}">{{ location[1] }}</option>
    		{% endfor %}
    		</select>
    		<br><br>
    		Information:<br>
    		<textarea rows="5" cols="50" name="landmark_info"></textarea>
    		<br><br>
    		Photo:<br>
    		<input type="url" name="landmark_photo"  placeholder="Enter link to add your landmark photo ">
    		<br><br>
    		<input type="submit" value="Insert to landmark table">

    		<br><br>

    	</form>

    	<h3>Delete</h3>
    	<form action="{{url_for('landmark_delete_all')}}">
    		<input type="submit" value="Delete all">
    	</form>

    	<h3>Update</h3>
    	<p>to update go to page of entry by clicking its name</p>
	</div>

{% endblock %}
