{% extends "template.html" %}
{% block content %}
	<h1>This page is {{ landmark[0][1] }}</h1>
	<form action="{{url_for('landmark_update')}}" method="post">
	<table>
		<th>Attribute</th>
		<th>Current Value</th>
		<th>Updated Value</th>
		<tr>
			<td>Name</td>
			<td>{{ landmark[0][1] }}</td>
			<td><input type="text" name="landmark_name_update"></td>
		</tr>
		<tr>
			<td>Score</td>
			<td>{{ landmark[0][2] }}</td>
			<td><input type="text" name="landmark_score_update"></td>
		</tr>
	</table>
	<br>
	<input type="hidden" name="landmark_index" value="{{ landmark[0][0] }}">
	<td><input type="submit" value="Update"></td>
   	</form>
{% endblock %}