{% extends "template.html" %}
{% block content %}
    <h1>Landmarks of Countries & Cities</h1>
    <form action="{{url_for('landmark_delete')}}" method="post">
    <table>
    	<th>Select</th>
    	<th>Id</th>
    	<th>Name</th>
    	<th>Score</th>
    	{% for landmark in landmark %}
    	<tr>
    		<td><input type="radio" name="select" value="{{ landmark[0] }}"></td>
    		<td>{{ landmark[0] }}</td>
    		<td><a href="{{url_for('landmark_details', id = landmark[0]  ) }}">{{ landmark[1] }}</a></td>
    		<td>{{ landmark[2] }}</td>
    	</tr>
    	{% endfor %}
    </table>
    <input type="submit" value="Remove selected">
    </form>
    <h2>Operations on the table</h2>

    	<h3>Insert</h3>
    	<form action="{{ url_for('landmark_insert') }}" method="post">
    		Name:<br>
    		<input type="text" name="landmark_name">
    		<br>
    		Score:<br>
    		<input type="text" name="landmark_score">
    		<br><br>
    		<input type="submit" value="Insert to landmark table">
    	</form>

    	<h3>Delete</h3>
    	<form action="{{url_for('landmark_delete_all')}}">
    		<input type="submit" value="Delete all">
    	</form>

    	<h3>Update</h3>
    	<p>to update go to page of entry by clicking its name</p>
{% endblock %}
