{% extends "template.html" %}
{% block title %}{{ landmark[0][1] }}{% endblock %}
{% block content %}

	<div class="page-header">
   		 <h1> {{ landmark[0][1] }} </h1>
   	</div>
	<img src="{{landmark[0][6]}}" alt="Photo" style="float:left;max-width:500px;max-height:500px;padding:5px 10px 0 0;">
	<p style="padding:20px 0 0 0; white-space: pre-wrap;">{{ landmark[0][3] }}</p>
	<p style="font-weight: bold;">DISCLAIMER: All the information in this page including the images are taken from internet sources and used for education purposes only</p>
	<br style="clear:both"><br>

	<h4> Lets vote {{ landmark[0][1] }} </h4>
	<form action="{{url_for('landmark_vote')}}" method="post">
		<input type="number" name="vote" min="1" max="10">
		<input type="hidden" name="landmark_vote_index" value="{{ landmark[0][0] }}">
		<br>
		<input type="submit" value="Vote">
   	</form>
	</br></br></br></br>

	<div class="container items-to-hide">
	<form action="{{url_for('landmark_update')}}" method="post">
	<table>
		<th>Attribute</th>
		<th>Current Value</th>
		<th>Updated Value</th>
		<tr>
			<td>Name</td>
			<td>{{ landmark[0][1] }}</td>
			<td><input type="text" name="name_update"></td>
		</tr>
		<tr>
			<td>Score</td>
			<td>{{ landmark[0][2] }}</td>
			<td><input type="text" name="score_update"></td>
		</tr>
	 	<tr>
			<td>Information</td>
			<td>{{ landmark[0][3] }}</td>

			<td><textarea rows="15" cols="50" name="info_update"></textarea></td>
		</tr>
		<tr>
			<td>City</td>
			<td>{{ landmark[0][5] }}</td>
			<td><select name="city_update">
    			{% for location in locations %}
    				<option value="{{ location[0] }}">{{ location[1] }}</option>
    			{% endfor %}
				</select>
			</td>
		</tr>

	</table>
	<br>
	<input type="hidden" name="landmark_index" value="{{ landmark[0][0] }}">
	<td><input type="submit" value="Update"></td>
   	</form>
   	</div>
	</br></br>

{% endblock %}