{% extends "template.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
<br><br><br>
<form method="POST">
<div class="login">
	<div class="login-screen">
		<div class="app-title">
			<h1>Login</h1>
		</div>

		<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field login-input" value="" placeholder="username" id="login-name" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field login-input" value="" placeholder="password" id="login-pass" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<button type="submit" class="login-btn btn-primary btn-large btn-block" >Login</button>
		</div>
	</div>
</div>
</form>
{% endblock %}