{% extends "template.html" %}
{% block content %}
    <h1>List of Places</h1>
    <form action="{{url_for('places_delete')}}" method="post">
    <table>
    	<th>Select</th>
    	<th>Name</th>
    	{% for place in places %}
    	<tr>
    		<td><input type="radio" name="select" value="{{ place[0] }}"></td>
    		<td><a href="{{url_for('places_details', id = place[0]  ) }}">{{ place[1] }}</a></td>
    	</tr>
    	{% endfor %}
    </table>
    <input type="submit" value="Remove selected">
	</form>

	<h3>Insert</h3>
	<form action="{{url_for('places_insert')}}" method="post">
    	Name:<br>
    	<input type="text" name="places_name">
    	<br>
    	Photo:<br>
    	<input type="url" name="places_photo">
    	<br>
    	Info:<br>
    	<textarea rows="5" cols="50" name="places_info"></textarea>
		<br>
    	<input type="submit" value="Insert">
	</form>

	<h3>Delete all</h3>
    <form action="{{url_for('places_delete_all')}}">
    	<input type="submit" value="Delete all">
	</form>
{% endblock %}