{% extends "template.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    	<div class="page-header">
   		 <h1> Registration Page </h1>
   		</div>
	<br> <br>
<form action="{{ url_for('register_operation') }}" method="POST">
<div class="login">
	<div class="login-screen">
		<div class="app-title">
			<h1 style="color:white;">Register</h1>
		</div>

		<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field login-input" value="" placeholder="name" id="login-name" name="name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="text" class="login-field login-input" value="" placeholder="surname" id="login-name" name="surname">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="text" class="login-field login-input" value="" placeholder="username" id="login-name" name="user_name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field login-input" value="" placeholder="password" id="login-pass" name="pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field login-input" value="" placeholder="re-password" id="login-pass" name="repass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
				<br><br>
				<button type="submit" class="login-btn btn-primary btn-large btn-block">Register</button>
		</div>
	</div>
</div>
				<script src='https://www.google.com/recaptcha/api.js?hl=tr'></script>
				<br>
				<div class="g-recaptcha" data-sitekey="6Lc5JA8UAAAAAPpxZNOYuRWXB8lCXA9v8S3QaEMq"></div>
				<br><br>
</form>

{% endblock %}

